<footer class="panel-footer">
	<div class="grid-container">
		<div class="grid-x grid-margin-x grid-margin-y small-up-2 large-up-4">
			<div class="cell">
				<h1 class="subheader">Orari</h1>
				<ul class="orari-footer-schedule no-bullet">
					{{> orari-apertura}}

				</ul>
			</div>
			<div class="cell">
				<h1 class="subheader">Mappa del Sito</h1>
				<ul class="orari-footer-schedule no-bullet">
					<li class="item {{#ifpage 'index'}}attuale{{/ifpage}}"><a href="{{root}}index.html">Home</a></li>
					<li class="item {{#ifpage 'servizi'}} attuale{{/ifpage}}"><a href="{{root}}servizi.html">Servizi</a></li>
					<li class="item {{#ifpage 'prezzi'}}attuale{{/ifpage}}"><a href="{{root}}prezzi.html">Prezzi</a></li>
					<li class="item {{#ifpage 'chi-siamo'}}attuale{{/ifpage}}"><a href="{{root}}chi-siamo.html">Chi Siamo</a></li>
					<li class="{{#ifpage 'informazioni-legali'}}attuale{{/ifpage}}"><a href="{{root}}informazioni-legali.html">Informazioni Legali</a></li>
				 </ul>
			</div>
			<div class="cell">
				<h1 class="subheader">Contatti</h1>
				<ul class="orari-footer-schedule no-bullet">
					<!-- <li><a href="https://api.whatsapp.com/send?phone=390718853384" target="_blank"><i class="lab la-whatsapp">&nbsp; </i>Whatsapp</a></li> -->
					<!-- <li><a href="tel:+390718853384"><i class="las la-phone">&nbsp; </i>071&nbsp;8853&nbsp;384</a></li> -->
					<li><a href="mailto:info@bloomestfilottrano.it"><i class="las la-envelope">&nbsp; </i>info@bloomestfilottrano.it</a></li>
				</ul>
			</div>
			<div class="cell">
				<h1 class="subheader">Dove Siamo</h1>
				<p>
					<a href="https://maps.app.goo.gl/TLLquJDcxpupTzESA">
						<span itemprop="streetAddress">Via dell'Industria, 63</span>
						<br>
						<span itemprop="postalCode">60024</span>
						<span itemprop="addressLocality">Filottrano</span>
						<span itemprop="addressRegion">AN</span>
					</a>
				</p>
			</div>
		</div>
	</div>
</footer>