<nav id="hamburgerNav">
	<ul class="menu-hamburger">
		<li class="logo"><a href="https://www.bloomestfilottrano.it"><img class="img-logo" src="{{root}}assets/img/logo/LogoBloomest.jpg" alt="Logo Bloomest Filottrano"><meta itemprop="name" content="Ca' Vecchia Beerstrot"></a></li>
		<li class="item {{#ifpage 'servizi'}} attuale{{/ifpage}}"><a href="{{root}}servizi.html">Servizi</a></li>
		<li class="item {{#ifpage 'prezzi'}}attuale{{/ifpage}}"><a href="{{root}}prezzi.html">Prezzi</a></li>
		<li class="item {{#ifpage 'chi-siamo'}}attuale{{/ifpage}}"><a href="{{root}}chi-siamo.html">Chi Siamo</a></li>
		<li class="toggle"><a href="javascript:void(0)"><i class="las la-bars la-2x"></i></a></li>
	</ul>
</nav>